<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="../../Public/images/index/logo.ico" type="image/x-icon" />
    <title>导航</title>
	<link rel="stylesheet" href="../../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../Public/css/index.css">
	<script src="../../Public/components/jQuery/dist/jquery.min.js"></script>
	<script src="../../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../../Public/components/validate/jquery.validate.min.js"></script>
	<script src="../../Public/components/dialog/js/bootstrap-dialog.min.js"></script>
	<script src="../../Public/js/base.js"></script>
</head>
<body>
	<div class="nav">
		<div class="container nav-items">
			<ul class="list-inline left-ul">
				<li class="nav-all"><a href="" class="">全部租仓面积&nbsp;108,007,090㎡</a>
					<ul class="nav-float-ul">
						<li>
							<dl class="nav-category">
								<dt><a href="#">大家电</a></dt>
								<dd>
									<a href="#">洗衣机<i></i></a>
									<a href="#">冰箱<i></i></a>
									<a href="#">电视<i></i></a>
									<a href="#">空调</a><br />
									<a href="#">冷柜/酒柜</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt><a href="#">手机通讯</a></dt>
								<dd>
									<a href="#">苹果<i></i></a>
									<a href="#">小米<i></i></a>
									<a href="#">华为<i></i></a>
									<a href="#">魅族</a><br />
									<a href="#">美图<i></i></a>
									<a href="#">OPPO<i></i></a>
									<a href="#">荣耀</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt><a href="#">电脑办公</a></dt>
								<dd>
									<a href="#">笔记本<i></i></a>
									<a href="#">台式电脑<i></i></a>
									<a href="#">平板电脑</a>
									<a href="#">显示器<i></i></a>
									<a href="#">电脑一体机</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt><a href="#">生活电器</a></dt>
								<dd>
									<a href="#">净化器<i></i></a>
									<a href="#">加湿器<i></i></a>
									<a href="#">扫地机器人</a>
									<a href="#">净水器<i></i></a>
									<a href="#">饮水机</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt><a href="#">厨卫电器</a></dt>
								<dd>
									<a href="#">电烤箱<i></i></a>
									<a href="#">热水器<i></i></a>
									<a href="#">抽烟机<i></i></a>
									<a href="#">锅</a>
									<a href="#">电磁炉<i></i></a>
									<a href="#">面包机<i></i></a>
									<a href="#">吸入器</a>
								</dd>
							</dl>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="list-inline right-ul">
				<li class="nav-one"><a href="#">首页</a></li>
				<li class="nav-two"><a href="#">大家电</a></li>
				<li class="nav-three"><a href="#">手机通讯</a></li>
			</ul>
		</div>
	</div>	

</body>
</html>