<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="../Public/images/index/logo.ico" type="image/x-icon" />
	<title>E云仓详情页</title>
	<link rel="stylesheet" href="../Public/components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../Public/components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../Public/css/index.css">
	<script src="../Public/components/jQuery/dist/jquery.min.js"></script>
	<script src="../Public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="../Public/components/validate/jquery.validate.min.js"></script>
	<script src="../Public/components/dialog/js/bootstrap-dialog.min.js"></script>
	<script src="../Public/js/base.js"></script>
</head>
<body>
	<!-- top部分 -->
	<div class="top clearfix">
		<div class="container clearfix">
			<div class="top-left">
				<span>易电联首页</span>
			</div>
			<div class="pull-right">
				<ul class="list-inline top-right">
					<!-- <li><a href="#" class="">我是供应商</span></li> -->
					<div class="log">	
						欢迎您！					
						<a class="loginusername" href="#"></a>						
						<a class="logout" href="#">安全退出</a>
					</div>
					<div class="logno">
						<li><a href="#" class="login on">登录</span></li>
						<span class="divider"></span>
						<li><a href="#" class="register">注册</span></li>
					</div>			
					<li class="help-center"><a href="#" class="one-level">帮助中心 <i class="fa fa-angle-down"></i></a>
						<ul class="list-unstyled two-level">
							<li><a href="#">常见问题</span></li>
							<li><a href="#">交易指南</span></li>
							<li><a href="#">投诉建议</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- search部分 -->
	<div style="background-color:#fff;padding-bottom:40px;padding-top:40px;">
		<div class="container">
			<a href="#" class="logo"><img src="../Public/images/index/logo.png"></a>
			<div class="search-box">
				<form method="#" class="search-head form-inline" action="#">
					<input type="search" class="" placeholder="请输入产品名称" value="" />
					<i class="fa fa-search"></i>
					<a class="btn-search">搜索</a>
				</form>
			</div>
		</div>
	</div>
	<!-- nav部分 -->
	<div class="nav">
		<div class="container nav-items">
			<ul class="list-inline left-ul">
				<li class="nav-all"><a href="" class="">全部租仓面积&nbsp;108,007,090m²</a>
					<ul class="nav-float-ul">
						<h1>找仓库</h1>
						<li>
							<dl class="nav-category">
								<dt>地区</dt>
								<dd>
									<a href="#" class="on">北京市</a>
									<a href="#">天津市</a>
									<a href="#">上海市</a><br />
									<a href="#">重庆市</a>
									<a href="#">成都市</a>
									<a href="#">更多</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt>仓库类型</dt>
								<dd>
									<a href="#" class="on">普通仓</a>
									<a href="#">恒温仓</a>
									<a href="#">温控仓</a><br />
									<a href="#">堆场</a>
									<a href="#">危险品库</a>
									<a href="#">其他</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt>仓库模式</dt>
								<dd>
									<a href="#" class="on">平仓</a>
									<a href="#">高台仓</a>
									<a href="#">楼库</a><br />
									<a href="#">地下仓库</a>
									<a href="#">立体库</a>
									<a href="#">其他</a>
								</dd>
							</dl>
						</li>
						<li>
							<dl class="nav-category">
								<dt>可租面积</dt>
								<dd>
									<a href="#" class="on">不限</a>
									<a href="#">&lt;1000m²</a>
									<a href="#">1000~5000m²</a>
								</dd>
							</dl>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="list-inline right-ul">
				<li class="nav-one"><a href="#">首页</span></li>
				<li class="nav-two"><a href="#">搜索仓库</span></li>
				<li class="nav-three"><a href="#">发布租仓</span></li>
			</ul>
		</div>
	</div>	
	<!-- content -->
	<div style="border-top: 2px solid #1975ff;">
		<div class="container selector-box">
			<div class="breadcrumb-nav">
				<ul class="breadcrumb list-inline">
					<li><a href="#">全部商品</a></li>
					<li>
						<a href="#" class="breadcrumb-item" title="">“大家电”</a>
						<ul class="list-inline two-menu">
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
						</ul>
					</li>
					<li>
						<a href="#" class="breadcrumb-item" title="空调哈哈哈哈哈哈哈哈">“空调”</a>
						<ul class="list-inline two-menu">
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">海尔</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
							<li><a href="#">格力</a></li>
						</ul>
					</li>
					<li>
						<a href="#" class="breadcrumb-only">制冷方式：<b>风冷</b><i class="fa fa-times"></i></a>
						<a href="#" class="breadcrumb-only">制冷方式：<b>风冷</b></a>
					</li>
					<li>
						<strong class="search-key">"空调"</strong>
					</li>
					<li class="sum">共<strong>200</strong>件商品</li>
				</ul>
			</div>
			<div class="selector">
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>仓库面积：</i>					
					</div>
					<div class="selector-value">
						<div class="sel-value-list">
							<ul class="list-inline p-item">								
								<li><span class="type-pro"><i></i>北京</span></li>
								<li><span class="type-pro"><i></i>上海</span></li>
								<li><span class="type-pro"><i></i>天津</span></li>
								<li><span class="type-pro"><i></i>河北</span></li>
								<li><span class="type-pro"><i></i>山西</span></li>		
								<li><span class="type-pro"><i></i>内蒙古</span></li>
								<li><span class="type-pro"><i></i>辽宁</span></li>	
								<li><span class="type-pro"><i></i>北京</span></li>
								<li><span class="type-pro"><i></i>上海</span></li>
								<li><span class="type-pro"><i></i>天津</span></li>
								<li><span class="type-pro"><i></i>河北</span></li>
								<li><span class="type-pro"><i></i>山西</span></li>		
								<li><span class="type-pro"><i></i>内蒙古</span></li>
								<li><span class="type-pro"><i></i>辽宁</span></li>			
							</ul>
						</div>					
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>可租面积：</i>
					</div>
					<div class="selector-value">	
						<div class="sel-value-list">			
							<ul class="list-inline p-item">
								<li><span class="type-pro"><i></i>1000m²以下</span></li>
								<li><span class="type-pro"><i></i>1000-5000m²</span></li>
								<li><span class="type-pro"><i></i>5000m²以上</span></li>
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>仓库类型：</i>
					</div>
					<div class="selector-value">
						<div class="sel-value-list">					
							<ul class="list-inline p-item">								
								<li><span class="type-pro"><i></i>普通仓</span></li>
								<li><span class="type-pro"><i></i>恒温仓</span></li>
								<li><span class="type-pro"><i></i>冷藏库</span></li>
								<li><span class="type-pro"><i></i>气调库</span></li>
								<li><span class="type-pro"><i></i>暖库</span></li>
								<li><span class="type-pro"><i></i>露天堆场</span></li>
								<li><span class="type-pro"><i></i>危险品库</span></li>
								<li><span class="type-pro"><i></i>有朋堆场</span></li>				
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>可租面积：</i>
					</div>
					<div class="selector-value">	
						<div class="sel-value-list">			
							<ul class="list-inline p-item">
								<li><span class="type-pro"><i></i>1000m²以下</span></li>
								<li><span class="type-pro"><i></i>1000-5000m²</span></li>
								<li><span class="type-pro"><i></i>5000m²以上</span></li>
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>仓库类型：</i>
					</div>
					<div class="selector-value">
						<div class="sel-value-list">					
							<ul class="list-inline p-item">								
								<li><span class="type-pro"><i></i>普通仓</span></li>
								<li><span class="type-pro"><i></i>恒温仓</span></li>
								<li><span class="type-pro"><i></i>冷藏库</span></li>
								<li><span class="type-pro"><i></i>气调库</span></li>
								<li><span class="type-pro"><i></i>暖库</span></li>
								<li><span class="type-pro"><i></i>露天堆场</span></li>
								<li><span class="type-pro"><i></i>危险品库</span></li>
								<li><span class="type-pro"><i></i>有朋堆场</span></li>				
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>可租面积：</i>
					</div>
					<div class="selector-value">	
						<div class="sel-value-list">			
							<ul class="list-inline p-item">
								<li><span class="type-pro"><i></i>1000m²以下</span></li>
								<li><span class="type-pro"><i></i>1000-5000m²</span></li>
								<li><span class="type-pro"><i></i>5000m²以上</span></li>
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>
				<div class="selector-group clearfix">
					<div class="selector-key">
						<i>仓库类型：</i>
					</div>
					<div class="selector-value">
						<div class="sel-value-list">					
							<ul class="list-inline p-item">								
								<li><span class="type-pro"><i></i>普通仓</span></li>
								<li><span class="type-pro"><i></i>恒温仓</span></li>
								<li><span class="type-pro"><i></i>冷藏库</span></li>
								<li><span class="type-pro"><i></i>气调库</span></li>
								<li><span class="type-pro"><i></i>暖库</span></li>
								<li><span class="type-pro"><i></i>露天堆场</span></li>
								<li><span class="type-pro"><i></i>危险品库</span></li>
								<li><span class="type-pro"><i></i>有朋堆场</span></li>
								<li><span class="type-pro"><i></i>普通仓</span></li>
								<li><span class="type-pro"><i></i>恒温仓</span></li>
								<li><span class="type-pro"><i></i>冷藏库</span></li>
								<li><span class="type-pro"><i></i>气调库</span></li>
								<li><span class="type-pro"><i></i>暖库</span></li>
								<li><span class="type-pro"><i></i>露天堆场</span></li>
								<li><span class="type-pro"><i></i>危险品库</span></li>
								<li><span class="type-pro"><i></i>有朋堆场</span></li>					
							</ul>
						</div>
						<div class="sel-btns">
							<a href="#" class="btn btn-default btn-sure">确定</a>
							<a href="#" class="btn btn-default btn-del">取消</a>
						</div>
					</div>
					<div class="selector-ext">
						<a href="#" class="sel-more" onclick="moreAction(this)"><i class="fa fa-angle-down"></i><span>更多</span></a>
						<a href="#" class="sel-multiple">+多选</a>
					</div>
				</div>


			</div>
			<div class="showmore text-center">
				<a href="#"><span>更多筛选</span><i class="fa fa-angle-down"></i></a>
			</div>
		</div>		
	</div>
	<div class="container warehouse-box">
		<div class="warehouse-list">
			<div class="warehouse-item row">
				<div class="left-img col-md-3">
					<img src="../Public/images/detail/pro.jpg" alt="">
				</div>
				<div class="right-border col-md-9">
					<div class="right-top">
						<span class="title"><a href="#">大兴区物流园标准高台库出租</a></span>
						<span class="sign">消防</span>
						<span class="sign">仓储</span>
					</div>
					<div class="right-middle row">
						<div class="col-md-4 right-ml">
							<div>
								<span class="dt">仓库类型</span>
								<span class="dd">普通仓</span>
							</div>
							<div>
								<span class="dt">仓库模式</span>
								<span class="dd">高台库</span>
							</div>
							<div>
								<span class="dt">仓库地坪</span>
								<span class="dd">混凝土</span>
							</div>
							<div>
								<span class="dt">总&nbsp;面&nbsp;积&nbsp;</span>
								<span class="dd">6000m²</span>
							</div>
						</div>
						<div class="col-md-4 right-mc">
							<p class="fee"><i class="f28">0.9</i><i class="f14">元m²</i>（按月付费）</p>
							<p class="area">可租面积<i class="f16">1500</i>m²</p>
						</div>
						<div class="col-md-4 right-mb">
							<div><a href="#" class="btn btn-order on">预约看仓</a></div>
							<div><a href="#" class="btn btn-check">查看详情</a></div>
						</div>
					</div>
					<div class="right-bottom">
						<span>北京-北京市-海淀区</span>
					</div>
				</div>
			</div>
			<div class="warehouse-item row">
				<div class="left-img col-md-3">
					<img src="../Public/images/detail/pro.jpg" alt="">
				</div>
				<div class="right-border col-md-9">
					<div class="right-top">
						<span class="title"><a href="#">大兴区物流园标准高台库出租</a></span>
						<span class="sign">消防</span>
						<span class="sign">仓储</span>
					</div>
					<div class="right-middle row">
						<div class="col-md-4 right-ml">
							<div>
								<span class="dt">仓库类型</span>
								<span class="dd">普通仓</span>
							</div>
							<div>
								<span class="dt">仓库模式</span>
								<span class="dd">高台库</span>
							</div>
							<div>
								<span class="dt">仓库地坪</span>
								<span class="dd">混凝土</span>
							</div>
							<div>
								<span class="dt">总&nbsp;面&nbsp;积&nbsp;</span>
								<span class="dd">6000m²</span>
							</div>
						</div>
						<div class="col-md-4 right-mc">
							<p class="fee"><i class="f28">0.9</i><i class="f14">元m²</i>（按月付费）</p>
							<p class="area">可租面积<i class="f16">1500</i>m²</p>
						</div>
						<div class="col-md-4 right-mb">
							<div><a href="#" class="btn btn-order on">预约看仓</a></div>
							<div><a href="#" class="btn btn-check">查看详情</a></div>
						</div>
					</div>
					<div class="right-bottom">
						<span>北京-北京市-海淀区</span>
					</div>
				</div>
			</div>
			<div class="warehouse-item row">
				<div class="left-img col-md-3">
					<img src="../Public/images/detail/pro.jpg" alt="">
				</div>
				<div class="right-border col-md-9">
					<div class="right-top">
						<span class="title"><a href="#">大兴区物流园标准高台库出租</a></span>
						<span class="sign">消防</span>
						<span class="sign">仓储</span>
					</div>
					<div class="right-middle row">
						<div class="col-md-4 right-ml">
							<div>
								<span class="dt">仓库类型</span>
								<span class="dd">普通仓</span>
							</div>
							<div>
								<span class="dt">仓库模式</span>
								<span class="dd">高台库</span>
							</div>
							<div>
								<span class="dt">仓库地坪</span>
								<span class="dd">混凝土</span>
							</div>
							<div>
								<span class="dt">总&nbsp;面&nbsp;积&nbsp;</span>
								<span class="dd">6000m²</span>
							</div>
						</div>
						<div class="col-md-4 right-mc">
							<p class="fee"><i class="f28">0.9</i><i class="f14">元m²</i>（按月付费）</p>
							<p class="area">可租面积<i class="f16">1500</i>m²</p>
						</div>
						<div class="col-md-4 right-mb">
							<div><a href="#" class="btn btn-order on">预约看仓</a></div>
							<div><a href="#" class="btn btn-check">查看详情</a></div>
						</div>
					</div>
					<div class="right-bottom">
						<span>北京-北京市-海淀区</span>
					</div>
				</div>
			</div>
			<div class="warehouse-item row">
				<div class="left-img col-md-3">
					<img src="../Public/images/detail/pro.jpg" alt="">
				</div>
				<div class="right-border col-md-9">
					<div class="right-top">
						<span class="title"><a href="#">大兴区物流园标准高台库出租</a></span>
						<span class="sign">消防</span>
						<span class="sign">仓储</span>
					</div>
					<div class="right-middle row">
						<div class="col-md-4 right-ml">
							<div>
								<span class="dt">仓库类型</span>
								<span class="dd">普通仓</span>
							</div>
							<div>
								<span class="dt">仓库模式</span>
								<span class="dd">高台库</span>
							</div>
							<div>
								<span class="dt">仓库地坪</span>
								<span class="dd">混凝土</span>
							</div>
							<div>
								<span class="dt">总&nbsp;面&nbsp;积&nbsp;</span>
								<span class="dd">6000m²</span>
							</div>
						</div>
						<div class="col-md-4 right-mc">
							<p class="fee"><i class="f28">0.9</i><i class="f14">元m²</i>（按月付费）</p>
							<p class="area">可租面积<i class="f16">1500</i>m²</p>
						</div>
						<div class="col-md-4 right-mb">
							<div><a href="#" class="btn btn-order on">预约看仓</a></div>
							<div><a href="#" class="btn btn-check">查看详情</a></div>
						</div>
					</div>
					<div class="right-bottom">
						<span>北京-北京市-海淀区</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--     分页    -->
	<div class="container">
		<nav aria-label="Page navigation" style="float: right;">
			<ul class="pagination">
				<li class="previous">
					<a href="#" aria-label="Previous" class="disabled">
					<span aria-hidden="true">&laquo;</span>	
					</a>				
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li class="next">
					<a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>	
					</a>				
				</li>
			</ul>
		</nav>
	</div>



	<!-- footer部分 -->

	<style>
	.pagination>li>a, .pagination>li>span {color: #333 !important;}
	.pagination>.active>a {background-color: #4485e8 !important;color: #fff !important;}
	.selector-value ul {display: inline-block;}
	.pagination>li>a {margin-right: 5px;}

    .pagination>li>a, .pagination>li>span {
    	border:0;
    	background-color: #f5f6f7;
    }
    .pagination li.previous a.disabled,
    .pagination li.next a.disabled {
    	pointer-events: none;
    	cursor: default;
    }
    .pagination li.previous a.disabled span,
    .pagination li.next a.disabled span {color: #999;}
	</style>

<script>
	$(function(){
		$(".pagination li").click(function(){
			$(this).addClass("active")
			.siblings().removeClass("active");
		}); 
		var prev = $(".pagination li.previous");
		var next = $(".pagination li.next")

		if($(".pagination li:nth-child(2)").hasClass("active")){
			prev.find("a").addClass("disabled");
		} else{
			prev.find("a").removeClass("disabled");
		}

		if($(".pagination li:nth-last-child(2)").hasClass("active")){
			next.find("a").addClass("disabled");
		} else{
			next.find("a").removeClass("disabled");
		}
	})

   var $toggleBtn2 = $(".selector-ext .sel-more");  //更多按钮
    $(".sel-value-list").each(function(i){  //判断更多按钮是否显示
    	var ul_width = $(this).find("ul").outerWidth();
    	var total_li = 0;
    	$(this).find('li').each(function(){
    		total_li += $(this).outerWidth()+60;
    	})
        // console.info(total_li+"|"+ul_width);
        if(total_li > ul_width){
        	$(this).parent(".selector-value").siblings(".selector-ext").find('a.sel-more').css('visibility','visible');
        }
    });
    function moreAction(o){  //点击更多按钮
    	var ul = $(o).parents(".selector-ext").siblings(".selector-value").find("ul");
    	var h = ul.height();
    	var $sBtns = $(o).parents(".selector-ext").siblings(".selector-value").find(".sel-btns");
    	var $checkBox = $(o).parents(".selector-ext").siblings(".selector-value").find("i");
    	if(h==30){
    		ul.css("height","auto");
    		$(o).find("span").text("收起");
    		$(o).find("i").addClass("fa-angle-up").removeClass("fa-angle-down");
    		$sBtns.hide();  
    	}
    	else{
    		ul.css("height","30px");
    		$(o).find("span").text("更多");
    		$(o).find("i").addClass("fa-angle-down").removeClass("fa-angle-up");
    		$toggleBtn3.css({
    			"color":"#333",
    			"border-color":"#f0f0f0"
    		});
    	}
    };

    var selG = $(".selector-group");
    	if(selG.length > 4){   //根据selector-group的数量，判断showmore按钮是否显示
    		$(".showmore").show();
    	} else{
    		$(".showmore").hide();
    	}
    	var $selectorGroup = $(".selector-group:gt(3)");
    	$selectorGroup.hide();
    	var $toggleBtn = $("div.showmore > a");
    	$toggleBtn.click(function () {
    		if ($selectorGroup.is(":visible")) {
    			$(this).find("span").text("更多筛选");
    			$(this).find("i").addClass("fa-angle-down").removeClass("fa-angle-up");
    			$(".selector-group:nth-child(4)").css("border-bottom","0");
    			$selectorGroup.hide();
    		} else {
    			$(this).find("span").text("收起更多");
    			$(this).find("i").addClass("fa-angle-up").removeClass("fa-angle-down");
    			$(".selector-group:nth-child(4)").css("border-bottom","1px solid #e5e5e5");
    			$selectorGroup.show();
    		}
    		return false;
    	});

    	var $typeCheck = $(".selector-value ul li span");  //单选状态
    	$typeCheck.click(function () {
    		$(this).addClass("type-check")
    		.parent("li").siblings().find("span").removeClass("type-check");
    		$(this).parents(".selector-value").siblings(".selector-key").find("span").removeClass("type-check");
    	});
    	var $toggleBtn2 = $(".selector-ext .sel-more");
    	var $checkBox = $toggleBtn2.parents(".selector-ext").siblings(".selector-value").find("i");


    //点击多选按钮
    var $toggleBtn3 = $(".sel-multiple");
    $toggleBtn3.click(function () {
    	var $sBtns = $(this).parents(".selector-ext").siblings(".selector-value").find(".sel-btns");
    	var $checkBox = $(this).parents(".selector-ext").siblings(".selector-value").find("i");
    	var $typeCheck = $(this).parents(".selector-ext").siblings(".selector-value").find("li span");
    	var ul = $(this).parents(".selector-ext").siblings(".selector-value").find("ul");
    	var h = ul.height();
    	var $sExt = $(this).parents(".selector-ext");
    	ul.css("height","auto");
    	openWrap();
    	function openWrap() {
    		$sExt.hide();
    		$checkBox.show();
    		$sBtns.show();
    	}
    	$typeCheck.click(function(){
    		$(this).addClass("type-check");
    		$(this).find("i").toggleClass("sel");
    	});

    	$(".sel-btns .btn-del").click(function () {
    		var $btnDel = $(".sel-btns").find(".btn-del");
    		var $sExt = $(this).parents(".selector-value").siblings(".selector-ext");
    		var $sBtns = $(this).parents(".sel-btns");
    		var $checkBox = $(this).parents(".selector-value").find("i");
    		var ul = $(this).parents(".sel-btns").siblings(".sel-value-list").find("ul");
    		var h = ul.height();
    		var $selGroup = $(this).parents(".selector-group");
    		$selGroup.removeClass("multiple");
    		ul.css("height","30");
    		$sExt.show();
    		$sBtns.hide();
    		$checkBox.hide();
    		$typeCheck.attr("href", $typeCheck.attr("dataHref"));
    	});
    	// $(".sel-btns .btn-sure").click(function () {
    	// });

    });


</script>
</body>
</html>